/* Home Page */
.home-page {
    height: calc(100vh + 0.1rem);
    padding-top: 1rem;
    font-family: var(--font);
    display: grid;
    grid-template-rows: 35% 10%;
    background-color: var(--primarytrans);
    position: relative;
    /* overflow: hidden; */
    opacity: 0;
    animation: pageLoad .5s ease-out forwards;
}

@keyframes pageLoad {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Tools top and menu */

.top-info {
    width: 100%;
    display: flex;
    color: var(--mainfont);
    align-items: start;
    font-family: var(--font);
    font-size: 1.1rem;
    font-weight: bold;
}

.options{
    padding-left: 2rem;
    display: flex;
    min-height: 8rem;
    align-items: center;
    transition: all .5s;
}

.rotated{
    transform: rotate(180deg);
    transition: all .5s;
}

.img-sub{
    font-size: 1rem;
    font-weight: lighter;
}

.light-img, .dark-img{
    width: 2rem;
    height: 2rem;
}

.dark-img{
    filter: invert(100%);
}

.menu-open{
    display: flex;
    justify-content: space-between;
    background-color: var(--middletrans);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: .5rem;
    gap: 1rem;
    padding: .5rem 1rem;
    margin-left: 1rem;
    animation: appear .5s ease-in-out both;
}

@keyframes appear{
    0%{
        opacity: 0;
        transform: translateX(-5rem);
    }
    50%{
        transform: translateX(0rem);
    }
    to{
        opacity: 1;
        transform: translateX(0rem);
    }
}

.option{
    cursor: pointer;
}

/* Skills List */

.skills {
    width: 100%;
    overflow: hidden; 
    white-space: nowrap;
}

.slider {
    position: relative;
    display: flex;
    width: calc( var(--width) * var(--quantity) );
    /* background-color: aqua; */
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10% 90%,
        transparent
    );
}

.skills .slider .item {
    background-color: var(--middle);
    font-family: "Boldonse", system-ui;
    padding: .5rem 0rem;
    position: absolute;
    font-size: 1.2rem;
    width: var(--width);
    text-align: center;
    left: 100%; 
    animation: autoRun 17s linear infinite;
    animation-delay: calc( (17 / var(--quantity)) * ( var(--pos) ) * -1s );
}
 
@keyframes autoRun {
    from{
        left: 100%;
    }
    to{
        left: calc( var(--width) * -1 )
    }
}

.skills .slider .item:hover{
    color: var(--font);
    transform: scale(102%);
    transition: all .5s;
}

.slider:hover .item{
    animation-play-state: paused !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* My Name */
.my-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .5rem 2rem;
    font-family: var(--font);
    background-color: var(--rare);
    background-image: repeating-linear-gradient(
        135deg,
        var(--highlight) 0,
        var(--highlight) .3rem,
        transparent 2px,
        transparent 10px
    );
}


.my-name p {
    font-size: 8rem;
    font-weight: bold;
    color: var(--secondaryfont);
    position: relative;
}

.my-name p::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    color: transparent;
    -webkit-text-stroke: .01rem var(--secondaryfont);
    clip-path: inset(0 0 0 50%);
}

/* Profile Picture */
.my-pic {
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    opacity: 0;
    animation: fadeIn .5s ease-out forwards;
    animation-delay: .5s;
}

.my-pic img {
    height: 35rem;
    filter: grayscale(1);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.my-pic img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}


@media screen and ( max-width:1025px ) 
{

    .my-name p{
        font-size: 7rem;
    }

    .skills , .slider , .item{
        display: none;
    }
}

@media screen and ( max-width:768px ) 
{
    .my-name{
        bottom: 1.5rem;
        padding: .5rem 0rem;
        height: fit-content;
    }    

    .my-name p{
        padding: 0rem;
        font-size: 5rem;
    }

    .my-pic{
        bottom: 13rem;
        z-index: -1;
    }

    .my-pic img{
        height: 30rem;
    }
}

@media screen and ( max-width: 576px ) 
{
    .my-name{
        padding: 2rem 0rem;
        padding-left: 1rem;
        width: 100%;
    }

    .my-name p{
        font-size: 4rem;
    }    

    .my-pic{
        bottom: 10rem;
    }
}
