.all-certificates{
    margin: 5rem 5rem;
    columns: 230px;
    font-family: var(--font);
}

.all-certificates > * {
    break-inside: avoid; /* Prevent breaking content */
    page-break-inside: avoid; /* Older browser support */
}

.heading{
    text-align: center;
    font-weight: bold;
    font-family: var(--font);
    font-size: 5rem;
    margin-top: 6rem;
}

.heading #heading {
    opacity: 0;
    transform: translateY(5rem); 
    transition: opacity 1s ease, transform 1s ease; 
}

.heading #heading.in-view {
    opacity: 1; 
    transform: translateY(0); 
}

.certificate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.certificate.in-view {
    opacity: 1;
    transform: translateY(0);
}

.certificate{
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: .3rem;
    background-color: var(--secondarytrans);
    box-shadow: .2rem .2rem .5rem var(--raretrans);
    border: .2rem solid var(--middle);
    margin-bottom: 1rem;
    border-radius: .3rem;
}

.certi-name{
    font-weight: bold;
    padding-bottom: .3rem;
    margin-bottom: .3rem;
    text-align: left;
}

.certi-skills{
    margin: .5rem 0rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.verify{
    margin: 1rem auto;
    margin-top: 2rem;
    text-align: center;
}


.verify a{
    color: inherit;
    padding: .2rem 1rem;
    border-radius: .3rem;
    background-color: var(--middletrans);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verify a img{
    margin-left: 1rem;
    filter: var(--samebg) opacity(.5);
    height: 1.5rem;
    width: 1.5rem;
}

.verify a:hover{
    box-shadow: .5rem .5rem 1rem var(--middle);
}

.certi-skills .skill{
    font-size: .8rem;
    font-weight: bold;
    border: .1rem solid var(--opp);
    border-radius: .3rem;
    padding: .3rem .5rem;
}

.certi-desc{
    font-size: 1rem;
    text-align: left;
}

@media screen and ( max-width: 768px ) 
{
    .all-certificates{
        margin: 3rem auto;
        width: 90%;
    }
    .certificate{
        box-shadow: none;
        border: none;
    }
    .certi-name{
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    
    .certi-name::after{
        content: "↓";
    }

    .certificate:hover .certi-name::after{
        content: "↑";
    }

    .certificate:hover > .certi-skills{
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
    }

    .certificate:hover > .certi-desc{
        display: block;
    }

    .certificate:hover > .verify{
        display: block;
    }

    .heading{
        font-size: 3.5rem;
    }
    .certi-skills, .certi-desc , .verify{
        display:none;
    }
}