.app{
  background-color: var(--primary);
  background-image: repeating-linear-gradient(
      135deg, 
      var(--secondarytrans) 0, 
      var(--secondarytrans) .3rem, 
      transparent 2px, 
      transparent 10px
  );
  background-attachment: fixed;
  color: var(--mainfont);
}

/* background-image: repeating-linear-gradient(
      135deg, 
      var(--secondary) 0, 
      var(--secondary) .3rem, 
      transparent 2px, 
      transparent 10px
  );
  background-attachment: fixed; */