body {
  margin: 0rem;
  padding: 0rem;
  overflow-x: hidden;
  overflow-y:scroll;
  /* From Uiverse.io by kennyotsu */ 
  /* Add your background pattern here */
  background-color: #f5f5f5;
  background-image: radial-gradient(rgba(70, 33, 33, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}
